{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Expense Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for expense in categories %}
                <tr>
                    <td> {{ expense.name }}</td>
                    <td> {{ expense.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
