{% extends 'base.html' %}

{% block title %}
    My Recipets
{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for data in receipt_list %}
                    <tr>
                        <td>{{ data.vendor }}</td>
                        <td>{{ data.total }}</td>
                        <td>{{ data.tax }}</td>
                        <td>{{ data.date|date:"m/d/y" }}</td>
                        <td>{{ data.category}}</td>
                        <td>{{ data.account}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
